.bg-primary {
    background: #ED1C24
}

#container-nav {
    border-right-width: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background: #FFF
}

#container-nav.is-visible {
    z-index: 999
}

@media (min-width: 1025px) {
    #container-nav {
        top: 112px;
        height: calc(100% - 172px)
    }
}

#mainNav .mdl-navigation__link {
    font-weight: 500;
    color: #898989;
    border-right: 5px solid transparent
}

#mainNav .mdl-navigation__link:hover {
    background: #F9F9F9
}

#mainNav .mdl-navigation__link.active {
    background: #F9F9F9;
    border-right-color: #ED1C24
}

.mdl-layout__drawer-button {
    color: #FFF;
    z-index: 7
}

@media (max-width: 1024px) {
    .mdl-layout__drawer-button {
        top: 28px
    }
}

h1 {
    width: 240px;
    line-height: 1;
    padding: 14px 26px
}

@media (min-width: 1025px) {
    h1 {
        box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.5)
    }
}

@media (max-width: 1024px) {
    h1 {
        width: auto;
        padding: 14px 0
    }
}

h1 a {
    font-size: 2rem;
    text-decoration: none;
    color: #FFF
}

.mdl-layout__obfuscator.is-visible {
    z-index: 99
}

.mdl-layout__header {
    background: black;
    display: block;
    width: 100% !important;
    margin-left: 0 !important;
    z-index: 6
}

.mdl-layout__header img {
    max-width: 67%
}

.mdl-layout__header .mdl-layout__header-row {
    height: 112px;
    padding-left: 0 !important
}

@media (max-width: 1024px) {
    .mdl-layout__header .mdl-layout__header-row {
        padding: 16px 30px 15px 60px !important
    }

    .mdl-layout__header .mdl-layout__header-row #logo-sesp {
        max-width: 190px
    }
}

.mdl-layout__header .mdl-layout__header-row > .mdl-list {
    display: none;
    margin-left: auto
}

@media (min-width: 1025px) {
    .mdl-layout__header .mdl-layout__header-row > .mdl-list {
        display: flex;
        align-items: center
    }
}

.mdl-layout__header .mdl-layout__header-row > .mdl-list .mdl-list__item {
    border-left: 1px solid #FFF
}

.mdl-layout__header .mdl-layout__header-row > .mdl-list .mdl-list__item:first-child {
    border-left: 0 none
}

.mdl-layout__header .mdl-layout__header-row > .mdl-list .mdl-list__item-sub-title {
    color: #FFF;
    text-decoration: none;
    margin-top: .3rem;
    display: block;
    font-size: 1rem
}

.mdl-layout__header .mdl-layout__header-row > .mdl-list img {
    width: 55px;
    height: 55px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 1rem
}

.mdl-layout__header .mdl-layout__header-row > .mdl-list .mdl-list__item-secondary-info {
    margin-left: .5rem
}

#logo-sesp {
    margin-left: 40px
}

@media (max-width: 1024px) {
    #logo-sesp {
        margin-left: auto
    }
}

.mdl-mini-footer {
    z-index: 6;
    padding: 0 40px;
    min-height: 60px;
    align-items: center;
    background: #cccccc;
}

@media (max-width: 479px) {
    .mdl-mini-footer {
        padding: 0;
        min-height: 100px
    }
}

.mdl-mini-footer .mdl-mini-footer__left-section {
    margin: auto;
    text-align: center
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.ml-auto {
    margin-left: auto
}

.d-none {
    display: none !important
}

.d-block {
    display: block !important
}

.d-flex {
    display: flex !important
}

@media (min-width: 1025px) {
    .d-lg-block {
        display: block !important
    }

    .d-lg-none {
        display: none !important
    }
}

@media (min-width: 480px) {
    .d-sm-block {
        display: block !important
    }

    .d-sm-none {
        display: none !important
    }

    .d-sm-flex {
        display: flex !important
    }
}

.align-items-center {
    align-items: center
}

.w-100 {
    width: 100%
}

.w-auto {
    width: auto
}

.mdl-button.mdl-button--raised {
    height: 50px;
    line-height: 50px;
    font-weight: 600
}

@media (max-width: 479px) {
    .mdl-button.mdl-button--raised:not(.w-auto) {
        width: 100%;
        margin-top: 1rem
    }
}

.mdl-button.mdl-button--raised.mdl-button--fab {
    height: 38px;
    min-width: 38px;
    width: 40px;
    color: #fff
}

.mdl-button.mdl-button--raised.btn-green {
    background: #36AF47
}

.mdl-button.mdl-button--raised.btn-green:hover {
    background: #309c3f
}

.mdl-button.mdl-button--raised.btn-primary {
    background: #0094AA
}

.mdl-button.mdl-button--raised.btn-primary:hover {
    background: #007e91
}

.mdl-button.mdl-button--raised.btn-primary-muted {
    background: #82A5BD
}

.mdl-button.mdl-button--raised.btn-primary-muted:hover {
    background: #7199b4
}

.mdl-button.mdl-button--raised.btn-secondary {
    background: #940B00
}

.mdl-button.mdl-button--raised.btn-secondary:hover {
    background: #7b0900
}

.mdl-button.mdl-button--raised.btn-gradient_white {
    background-image: linear-gradient(180deg, #FFF, #ececec);
    color: #0094AA
}

.mdl-button.mdl-button--raised.btn-gradient_white:hover {
    background-image: linear-gradient(180deg, #FFF, #e5e5e5)
}

.mdl-checkbox {
    width: auto;
    height: auto
}

.getmdl-select {
    width: 100%
}

.getmdl-select.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #626466
}

.mdl-switch .mdl-switch__thumb {
    left: 4px
}

.mdl-switch .mdl-switch__track {
    height: 26px;
    width: 45px;
    top: -1px
}

.mdl-switch.is-checked .mdl-switch__track {
    left: 0;
    background: #36AF47
}

.mdl-switch.is-checked .mdl-switch__thumb {
    left: 21px;
    background: #FFF
}

.pagination {
    padding: 0;
    text-align: right;
    margin-top: 1rem
}

.pagination li {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle
}

.pagination li a {
    color: #626466;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    min-width: 20px
}

.pagination li.disabled a {
    cursor: default;
    color: #e0e0e0
}

.pagination li.active {
    background-color: #0094AA
}

.pagination li.active a {
    color: #fff
}

@media (max-width: 479px) {
    .pagination li {
        display: none
    }

    .pagination li:last-child, .pagination li:first-child, .pagination li.active {
        display: inline-block
    }
}

@media (max-width: 479px) {
    .pagination {
        text-align: center
    }
}

.list-inline li {
    float: left;
    min-height: 0
}

.table-responsive {
    width: 100%;
    overflow: auto;
    margin-bottom: 1rem
}

.table {
    width: 100%
}

.table thead {
    background: #626466
}

.table thead th {
    color: #FFF
}

.mdl-card {
    width: 100%;
    margin-top: 1rem;
    min-height: auto;
    overflow: visible;
    position: initial
}

.mdl-card .mdl-card__title-text {
    color: #626466
}

.mdl-card .mdl-card__supporting-text {
    overflow: visible;
    width: 100%
}

.content__title {
    font-size: 1.5rem;
    font-weight: 600
}

*, ::after, ::before {
    box-sizing: border-box
}

*:focus, *:active, *:focus {
    outline: 0 none !important
}

.pointer {
    cursor: pointer
}

html {
    color: #626466;
    font-size: 14px
}

main {
    background: #EEE
}

.page-content {
    padding: 20px 40px
}

@media (max-width: 1024px) {
    .page-content {
        padding-left: 30px;
        padding-right: 30px
    }
}

@media (max-width: 479px) {
    .page-content {
        padding-left: 15px;
        padding-right: 15px
    }
}

/*# sourceMappingURL=global.min.css.map */
