<div fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">
    <div mat-dialog-content fxLayout="row" fxLayoutAlign="center">
        <h6>{{item.msg }}</h6>
    </div>
    <div *ngIf="item.isConfirmTypeYesNo()" mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
        <div fxFlex fxFlexOffset="-2%" fxLayoutAlign="end">
            <button type="button" title="{{'LABEL_NAO' | i18n}}" (click)="onConfirmNo()"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent ml-auto btn-danger">
                <span>{{'LABEL_NAO' | i18n}}</span>
            </button>
        </div>
        <div fxFlex fxFlexOffset="2%">
            <button type="button" title="{{'LABEL_SIM' | i18n}}" (click)="onConfirmYesOk()"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-primary ml-auto">
                <span>{{'LABEL_SIM' | i18n}}</span>
            </button>
        </div>
    </div>

    <div *ngIf="item.isConfirmTypeOk()" mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="10%" fxLayoutAlign="center">
            <button type="button" title="{{'LABEL_OK' | i18n}}" (click)="onConfirmYesOk()"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-primary ml-auto">
                <span>{{'LABEL_OK' | i18n}}</span>
            </button>
        </div>
    </div>
</div>